.width {
  min-width: 500px;
  max-width: 500px;
}

body {
  padding: 50px;
  background-image: linear-gradient(
    to top,
    #ebebeb 0%,
    #ebebeb 1%,
    #ebebeb 20%
  );
}

h2 {
  display: inline-block;
  font-size: 2.75rem;
}

h5 {
  font-size: 1rem;
  text-transform: capitalize;
}

.fas {
  color: #fa7f72;
  font-size: 30px;
  padding-left: 40px;
}

h6 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-block-end: 0em;
  text-align: center;
}

.right-align {
  text-align: right;
}

.card {
  background-image: linear-gradient(
    to top,
    #ebebeb 0%,
    #ebebeb 1%,
    #ebebeb 20%
  );
  margin-top: 10px;
}

.col-2 {
  text-align: center;
}

.form-control {
  background-image: linear-gradient(
    to top,
    #ebebeb 0%,
    #ebebeb 1%,
    #ebebeb 20%
  );
}

.footer {
  text-align: center;
  color: #389393;
  text-decoration: none;
}

.unit {
  text-decoration: none;
  position: relative;
  bottom: 10px;
  background: none;
  border: none;
  color: black;
  padding: 0;
  cursor: default;
}
